/Exercise-1/.idea/
/Exercise-1/build/classes/
/Exercise-1/build/tmp/
/Exercise-1/settings.gradle
/.idea/.gitignore
/.idea/Backend-Developer-interview.iml
/Exercise-1/build/reports/tests/test/css/base-style.css
/Exercise-1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Exercise-1/.gradle/buildOutputCleanup/cache.properties
/Exercise-1/.gradle/7.4/checksums/checksums.lock
/.idea/codeStyles/codeStyleConfig.xml
/Exercise-1/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/Exercise-1/.gradle/7.4/executionHistory/executionHistory.bin
/Exercise-1/.gradle/7.4/executionHistory/executionHistory.lock
/Exercise-1/.gradle/file-system.probe
/Exercise-1/.gradle/7.4/fileHashes/fileHashes.bin
/Exercise-1/.gradle/7.4/fileHashes/fileHashes.lock
/Exercise-1/.gradle/7.4/dependencies-accessors/gc.properties
/Exercise-1/.gradle/7.4/gc.properties
/Exercise-1/.gradle/vcs-1/gc.properties
/Exercise-1/build/reports/tests/test/index.html
/Exercise-1/.gradle/7.4/fileChanges/last-build.bin
/Exercise-1/.gradle/7.4/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/Exercise-1/build/reports/tests/test/classes/org.packing.CommodityTest.html
/Exercise-1/build/reports/tests/test/packages/org.packing.html
/Exercise-1/build/test-results/test/binary/output.bin
/Exercise-1/build/test-results/test/binary/output.bin.idx
/Exercise-1/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/codeStyles/Project.xml
/Exercise-1/build/reports/tests/test/js/report.js
/Exercise-1/.gradle/7.4/fileHashes/resourceHashesCache.bin
/Exercise-1/build/test-results/test/binary/results.bin
/Exercise-1/.gradle/7.4/checksums/sha1-checksums.bin
/Exercise-1/build/reports/tests/test/css/style.css
/Exercise-1/build/test-results/test/TEST-org.packing.CommodityTest.xml
/.idea/vcs.xml
